/.classpath
/.project
/.settings

/logs
/target

/perfect-app/target/
/perfect-domain/target/
/perfect-service/target/

/perfect-app/.classpath
/perfect-domain/.classpath
/perfect-service/.classpath

/perfect-app/.project
/perfect-domain/.project
/perfect-service/.project

/perfect-app/.settings/
/perfect-domain/.settings/
/perfect-service/.settings/

/perfect-app/src/main/resources/application*.properties
