<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en" th:fragment="head">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
<meta content="ie=edge" http-equiv="x-ua-compatible"/>
<meta name="Description" content="The Perfect Score (perfect-score.co.uk) is a website that attempts to predict English Premier League results based on algorithms and data. Furthermore, it attempts to predict the exact score for each game.">

<link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.ico}"/>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="module"></script>
<script th:src="@{/webjars/jquery-toast-plugin/1.3.2/dist/jquery.toast.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/jquery.vticker-min.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-toast-plugin/1.3.2/dist/jquery.toast.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.13.0/css/all.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

</head>

</html>
